{% extends 'skill_list.html' %}

{% block region_switch %}
    <li class="is-active"><a href="/activeskills/na">NA</a></li>
    <li><a href="/activeskills/jp/">JP</a></li>
{% endblock %}

{% block skill_turn_head %}
    <th class="has-text-right">Min Turns</th>
    <th class="has-text-right">Max Turns</th>
    <th class="has-text-right">Levels</th>
{% endblock %}

{% block skill_link %}
    <td class="has-text-centered"><a href="/activeskills/na/{{ skill.skillID }}">{{ skill.name }}</a></td>
{#    <td class="has-text-right"><a href="/activeskills/na/{{ skill.skillID }}">{{ skill.skillID }}</a></td>#}
{% endblock %}

{% block skill_turn %}
    <td class="has-text-right">{{ skill.minTurns }}</td>
    <td class="has-text-right">{{ skill.maxTurns }}</td>
    <td class="has-text-right">{{ skill.levels }}</td>
{% endblock %}