{% extends 'home.html' %}

{% block content %}

    <section class="hero is-dark">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">{{ activeskill.name }}</h1>
                <h2 class="subtitle"> {{ activeskill.description }}</h2>
            </div>
        </div>
    </section>

    <div class="columns is-centered" style="margin: 2.5%;">


        <div class="column is-half" id="activeskill">
            <label class="label has-text-centered"> Skill Information </label>

            <table class="table is-fullwidth">
                <tbody>
                <tr>
                    <th>Min Turns</th>
                    <td>{{ activeskill.minTurns }}</td>
                </tr>
                <tr>
                    <th>Max Turns</th>
                    <td>{{ activeskill.maxTurns }}</td>
                </tr>
                <tr>
                    <th>Levels</th>
                    <td>{{ activeskill.levels }}</td>
                </tr>
                </tbody>
            </table>

        </div>

        <div class="column">
            <label class="label has-text-centered" style="margin-bottom: 2%">Used by the following Monsters</label>

            {% for monster in monsters %}
                <div class="has-text-centered" style="margin-bottom: 2%"><a
                        href="/monster/na/{{ monster.id }}">{{ monster.name }}</a></div>

            {% endfor %}
        </div>

    </div>
{% endblock %}
