{% extends 'home.html' %}


{% block content %}

    <section class="hero is-dark">
        <div class="hero-head">
            <div class="container has-text-centered">
                <h1 class="title is-italic">{{ dungeon.name }}&nbsp;
                    {#                    <span class="icon">#}
                    {#                        <a href="/dungeons/na/edit/{{ dungeon.dungeon }}"><i class="fas fa-edit"></i></a>#}
                    {#                    </span>#}
                </h1>
            </div>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <h2 class="subtitle">Dungeon Type : {{ dungeon.dungeonType }}</h2>
            </div>
            <div class="container has-text-centered">
                <h2 class="subtitle">Floors : {{ dungeon.floorCount }}</h2>
            </div>
            <div class="container has-text-centered">
                <h2 class="subtitle">Dungeon ID : {{ dungeon.dungeonID }}</h2>
            </div>
        </div>
    </section>

    <div align="center" style="margin-top: 2.5%; margin-bottom: 2.5%">
        <div class="select">
            <select id="diffSelector" onchange="showDifficulty();">
                {% for floor in floors %}
                    <option>{{ floor.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>


    <div class="columns is-centered">

        {% for floor in drops %}

            <div class="column is-half" style="display: none" name="drops">
                <label class="label has-text-centered">Possible Drops</label>
                <table class="table is-fullwidth">
                    <thead>
                    <tr>
                        <th></th>
                        <th class="has-text-centered">Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for drop, rarity in floor %}
                        <tr>
                            <td><a
                                    href="/monster/na/{{ drop }}"><img
                                    src="https://storage.googleapis.com/mirubot/padimages/na/portrait/{{ drop }}.png"></a>
                            </td>
                            <td class="has-text-centered">{{ rarity }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

        {% endfor %}
    </div>

    <script>
        window.onload = function () {
            document.getElementsByName("drops")[0].style.display = "";
        }
    </script>

{% endblock %}