{% extends 'home.html' %}


{% block content %}

    <section class="hero is-dark">
        <div class="hero-head">
            <div class="container has-text-centered">
                <h1 class="title is-italic">{{ dungeon.name }}&nbsp;
                    {#                    <span class="icon">#}
                    {#                        <a href="/dungeons/na/edit/{{ dungeon.dungeon }}"><i class="fas fa-edit"></i></a>#}
                    {#                    </span>#}
                </h1>
            </div>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <h2 class="subtitle">Dungeon Type : {{ dungeon.dungeonType }}</h2>
            </div>
            <div class="container has-text-centered">
                <h2 class="subtitle">Floors : {{ dungeon.floorCount }}</h2>
            </div>
            <div class="container has-text-centered">
                <h2 class="subtitle">Dungeon ID : {{ dungeon.dungeonID }}</h2>
            </div>
        </div>
    </section>

    <div align="center" style="margin-top: 2.5%; margin-bottom: 2.5%">
        <div class="select">
            <select id="diffSelector" onchange="showDifficulty();">
                {% for floor in floors %}
                    <option>{{ floor.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>


    <div class="columns is-centered">

        {% for floor, drop in drops %}

            <div class="column is-three-quarters" style="display: none" name="drops">

                <div class="columns">
                    <div class="column">
                        <label class="label has-text-centered">Floor Data</label>
                        <table class="table is-fullwidth">
                            <tbody>
                            <tr>
                                <th>Floor Name</th>
                                <td class="has-text-right">{{ floor.name }}</td>
                            </tr>
                            <tr>
                                <th>Floor Number</th>
                                <td class="has-text-right">{{ floor.floorNumber }}</td>
                            </tr>
                            <tr>
                                <th>Stamina</th>
                                <td class="has-text-right">{{ floor.stamina }}</td>
                            </tr>
                            <tr>
                                <th>Battles</th>
                                <td class="has-text-right">{{ floor.battles }}</td>
                            </tr>
                            <tr>
                                <th>Entry Requirement</th>
                                <td class="has-text-right">{{ floor.entryRequirement }}</td>
                            </tr>
                            <tr>
                                <th>Required Dungeon</th>
                                <td class="has-text-right">{{ floor.requiredDungeon }}</td>
                            </tr>
                            <tr>
                                <th>Modifiers</th>
                                <td class="has-text-right">{{ floor.modifiers }}</td>
                            </tr>
                            <tr>
                                <th>Other Modifier</th>
                                <td class="has-text-right">{{ floor.otherModifier }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="column is-half">

                        <label class="label has-text-centered">Possible drops</label>

                        <table class="table is-fullwidth">
                            <tbody>
                            {% for key, val in drop.items %}
                                <tr>
                                    <td><a href="/monster/na/{{ key }}"><img
                                            src="https://storage.googleapis.com/mirubot/padimages/na/portrait/{{ key }}.png"
                                            height="15%" width="15%"></a>
                                    </td>
                                    <td class="has-text-right">{{ val }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>

    <script>
        window.onload = function () {
            document.getElementsByName("drops")[0].style.display = "";
        }
    </script>

{% endblock %}