<!DOCTYPE html>
<html lang="en">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127208131-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-127208131-1');
    </script>
    <meta charset="UTF-8">
    <title>Pad DB</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script src="https://use.fontawesome.com/659d3027f8.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-duration-format/1.3.0/moment-duration-format.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dataTables.bulma.css' %}">
    <link rel="stylesheet" href="{% static 'css/guerrilladisplay.css' %}">
    <script type="text/javascript" src={% static 'js/dataTables.bulma.js' %}></script>
    <script type="text/javascript" src={% static 'js/monsterdetail.js' %}></script>
    <script type="text/javascript" src={% static 'js/homecontroller.js' %}></script>
    <script type="text/javascript" src={% static 'js/dungeonSelector.js' %}></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<body>

<nav class="navbar is-dark" role="navigation">
    <div class="navbar-brand">
        <span class="navbar-burger burger" onclick="hamburgerHelper();">
            <span></span>
            <span></span>
            <span></span>
        </span>
    </div>
    <div id="navbar-menu" class="navbar-menu">
        <div class="navbar-start">

            <a class="navbar-item" href="/">
                <span class="icon"><i class="fas fa-home"></i></span>
                <span>Pad DB</span>
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="/monsterdb/na">
                    <span class="icon"><i class="fas fa-globe-americas"></i></span>
                    <span>NA</span>
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/monsterdb/na">
                        Monsters
                    </a>
                    <a class="navbar-item" href="/activeskills/na">
                        Active Skills
                    </a>
                    <a class="navbar-item" href="/leaderskills/na">
                        Leader Skills
                    </a>
                    <a class="navbar-item" href="/dungeons/na">
                        Dungeons
                    </a>
                </div>
            </div>
            {#            <div class="navbar-item has-dropdown is-hoverable">#}
            {#                <a class="navbar-link" href="/dungeons/na">#}
            {#                    <span class="icon"><i class="fas fa-globe-asia"></i></span>#}
            {#                    <span>JP</span>#}
            {#                </a>#}
            {#                <div class="navbar-dropdown">#}
            {#                    <a class="navbar-item" href="/monsterdb/jp">#}
            {#                        Monsters#}
            {#                    </a>#}
            {#                    <a class="navbar-item" href="/activeskills/jp">#}
            {#                        Active Skills#}
            {#                    </a>#}
            {#                    <a class="navbar-item" href="/leaderskills/jp">#}
            {#                        Leader Skills#}
            {#                    </a>#}
            {#                </div>#}
            {#            </div>#}
            <a class="navbar-item" href="/leaderboard">
                <span class="icon"><i class="fas fa-th-list"></i></span>
                <span>Leaderboard</span>
            </a>
        </div>
    </div>
</nav>

{% block content %}
    <section class="hero is-dark" style="margin-bottom: 2%;">
        <div class="hero-body has-text-centered">
            <div class="container is-fluid">
                <h1 class="title"> Calendar </h1>
                <h2 class="subtitle" style="margin-bottom: 0%"> Guerrilla Dungeons for {{ date }}</h2>
                <h2 class="subtitle is-6 is-italic" style="margin-bottom: 0%;"> Dates and Times listed are for Pacific
                    Time</h2>
                {#                <h2 class="subtitle is-6 is-italic"> Status, Time Until, and Time Left are real time figures,#}
                {#                    irrespective of time zones.</h2>#}
            </div>
        </div>
    </section>

    {#    <label align="center" class="label">What's my group?</label>#}
    <div class="columns is-centered">
        <div class="column is-one-quarter">
            <div align="center">
                <a class="button is-light" onclick="showBox();">What's my group?</a>
            </div>
            <div id="groupChecker" style="display: none">
                <div class="field">
                    <div class="is-italic is-6" align="center">Put in the first three digits (or more) of your ID</div>
                    <div class="control">
                        <input class="input" type="text" placeholder="ex. 123 or 123,456,789" id="userid"
                               oninput="getGroup();">
                    </div>
                </div>
                <div align="center" id="groupOut"></div>
            </div>
        </div>
    </div>
    <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
        <ul>
            <li class="is-active" id="natab"><a onclick="switchNA();">NA</a></li>
            <li id="jptab"><a onclick="switchJP();">JP</a></li>
        </ul>
    </nav>

    <div class="columns is-centered" style="margin-top: 2%; margin-bottom: 2%;">
        <div class="column is-four-fifths">

            <div id="na">
                <table class="table is-fullwidth is-hoverable" id="natable">
                    <thead>
                    <tr>
                        <th class="has-text-left">Dungeon</th>
                        <th class="has-text-centered">Group</th>
                        <th class="has-text-centered">Status</th>
                        <th class="has-text-centered">Time Until</th>
                        <th class="has-text-centered">Time Left</th>
                        <th class="has-text-left">Start</th>
                        <th class="has-text-left">End</th>
                        <th class="has-text-centered hide" id="nahead">Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for dungeon, active in na %}
                        <tr>
                            <td class="has-text-left">{{ dungeon.name }}</td>
                            <td class="has-text-centered">{{ dungeon.group }}</td>
                            <td class="has-text-centered" name="active">{{ active }}</td>
                            <td class="has-text-centered spaced" name="starttime" value="{{ dungeon.startSecs }}"></td>
                            <td class="has-text-centered spaced" name="endtime" value="{{ dungeon.endSecs }}"></td>
                            <td class="has-text-left">{{ dungeon.startTime }}</td>
                            <td class="has-text-left">{{ dungeon.endTime }}</td>
                            <td class="has-text-centered hide spaced" name="time-mobile" id="naval"></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>


            </div>

            <div id="jp" style="display: none">
                <table class="table is-fullwidth is-hoverable" id="jptable">
                    <thead>
                    <tr>
                        <th class="has-text-left">Dungeon</th>
                        <th class="has-text-centered">Group</th>
                        <th class="has-text-centered">Status</th>
                        <th class="has-text-centered">Time Until</th>
                        <th class="has-text-centered">Time Left</th>
                        <th class="has-text-left">Start</th>
                        <th class="has-text-left">End</th>
                        <th class="has-text-centered hide spaced" id="jphead">Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for dungeon, active in jp %}
                        <tr>
                            <td class="has-text-left">{{ dungeon.name }}</td>
                            <td class="has-text-centered">{{ dungeon.group }}</td>
                            <td class="has-text-centered" name="active">{{ active }}</td>
                            <td class="has-text-centered spaced" name="starttime" value="{{ dungeon.startSecs }}"></td>
                            <td class="has-text-centered spaced" name="endtime" value="{{ dungeon.endSecs }}"></td>
                            <td class="has-text-left">{{ dungeon.startTime }}</td>
                            <td class="has-text-left">{{ dungeon.endTime }}</td>
                            <td class="has-text-centered hide spaced" name="time-mobile" id="jpval"></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

    </div>
    <script>
        window.onload = function () {
            computeTimes();
            setInterval(computeTimes, 1000);
        };
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#natable').DataTable({
                'pageLength': 50,
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#jptable').DataTable({
                'pageLength': 50,
                'paging': false,
            });
        });
    </script>
{% endblock %}
</body>
</html>
