{% extends 'home.html' %}


{% block content %}

    <div class="columns is-centered">
        <div class="column is-half">

            <div align="center" style="margin-top: 20px; margin-bottom: 20px">
                <h1 class="title">/r/PAD Karma Leaderboard</h1>
            </div>

            <div class="columns is-centered" id="load" style="margin-top: 15%">
                <div class="column is-half" align="center">
                    <span class="icon is-large">
                        <i class="fas fa-spinner fa-spin fa-4x"></i>
                    </span>
                </div>
            </div>

            <table class="table is-fullwidth" id="karmatable" style="visibility: hidden;" id="tableview">
                <thead>
                <tr>
                    <th class="has-text-left">User</th>
                    <th class="has-text-centered">Karma</th>
                    <th class="has-text-centered">Status</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td class="has-text-left"><a
                                href="https://www.reddit.com/u/{{ user.author }}">{{ user.author }}</a></td>
                        <td class="has-text-centered">{{ user.score }}</td>
                        <td class="has-text-centered">
                            {{ user.scoreDiff }}
                            {% if user.scoreUp %}
                                <span class="icon">
                                    <i class="fas fa-arrow-up"></i>
                                </span>
                            {% elif user.scoreDown %}
                                <span class="icon">
                                    <i class="fas fa-arrow-down"></i>
                                </span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#karmatable').DataTable({
                'pageLength': 100,
                "order": [[1, "desc"]]
            });
            document.getElementById('load').style.display = 'none';
            document.getElementById('tableview').style.visibility = 'visible';
        });
    </script>

{% endblock %}