{% extends 'monster_na.html' %}


{% block name %}
    <h1 class="title">{{ monster.name }}</h1>
{% endblock %}

{% block evos %}
    {% if ancestor is not None %}
        <h2 class="subtitle">Evolution of <a
                href="/monster/jp/{{ ancestor.monster.cardID }}"
                class="is-italic"> {{ ancestor.monster.name }}</a></h2>
    {% endif %}
    {% if evolutions is not None %}
        {% for evo in evolutions %}
            <h2 class="subtitle" style="margin-bottom: 0%">Evolves into
                <a href="/monster/jp/{{ evo.monster.cardID }}"
                   class="is-italic"> {{ evo.monster.name }} </a>
            </h2>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block skills %}

    <div class="column" id="leaderskill" style="display: none;">
        <label class="label has-text-centered">Leader Skill</label>
        {% if leaderskill is not None %}
            <table class="table is-fullwidth">
                <tbody>
                <tr>
                    <th>Name</th>
                    <td><a href="/leaderskills/jp/{{ leaderskill.skillID }}">{{ leaderskill.name }}</a></td>
                </tr>
                <tr>
                    <th>Effect</th>
                    <td>{{ leaderskill.description }}</td>
                </tr>
                </tbody>
            </table>
        {% else %}
            <div class="has-text-centered">No Leader Skill available</div>
        {% endif %}
    </div>

    <div class="column" id="activeskill" style="display: none;">
        <label class="label has-text-centered">Active Skill</label>
        {% if activeskill is not None %}
            <table class="table is-fullwidth">
                <tbody>
                <tr>
                    <th>Name</th>
                    <td><a href="/activeskills/jp/{{ activeskill.skillID }}">{{ activeskill.name }}</a></td>
                </tr>
                <tr>
                    <th>Effect</th>
                    <td>{{ activeskill.description }}</td>
                </tr>
                <tr>
                    <th>Min Turns</th>
                    <td>{{ activeskill.minTurns }}</td>
                </tr>
                <tr>
                    <th>Max Turns</th>
                    <td>{{ activeskill.maxTurns }}</td>
                </tr>
                <tr>
                    <th>Levels</th>
                    <td>{{ activeskill.levels }}</td>
                </tr>
                </tbody>
            </table>
        {% else %}
            <div class="has-text-centered">No Active Skill available</div>
        {% endif %}
    </div>

{% endblock %}
{% block evo %}

    <div class="column" id="evomaterials" style="display: none;">
        <label class="label has-text-centered">Evolution Materials</label>
        {% if evomats|length > 0 %}
            <table class="table is-fullwidth">
                <thead>
                <tr>
                    <th class="has-text-centered">Name</th>
                </tr>
                </thead>
                <tbody>
                {% for mat in evomats %}
                    <tr>
                        <td class="has-text-centered"><a
                                href="/monster/jp/{{ mat.monster.cardID }}"> {{ mat.monster.name }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <label class="label has-text-centered" style="margin-top: 10%">This monster cannot evolve
                further.</label>
        {% endif %}
    </div>


    <div class="column" id="unevomaterials" style="display: none;">
        <label class="label has-text-centered">Devolution Materials</label>
        {% if unevomats|length > 0 %}
            <table class="table is-fullwidth">
                <thead>
                <tr>
                    <th class="has-text-centered">Name</th>
                </tr>
                </thead>
                <tbody>
                {% for mat in unevomats %}
                    <tr>
                        <td class="has-text-centered"><a
                                href="/monster/jp/{{ mat.monster.cardID }}"> {{ mat.monster.name }}</a>
                        </td>
                    </tr>

                {% endfor %}
            </table>

        {% else %}
            <label class="label has-text-centered" style="margin-top: 10%">This monster cannot devolve
                further.</label>
        {% endif %}
    </div>

{% endblock %}
