<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pad Cal Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    {#    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>#}
    <script src="https://use.fontawesome.com/659d3027f8.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>


    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dataTables.bulma.css' %}">
    <script type="text/javascript" src={% static 'js/dataTables.bulma.js' %}></script>
    <script type="text/javascript" src={% static 'js/monsterdetail.js' %}></script>


    {#    <link rel="stylesheet"#}
    {#          href="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/themes/black/pace-theme-loading-bar.min.css">#}

    {#    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>#}

</head>

<meta name="viewport" content="width=device-width, initial-scale=1">


<body>

<nav class="navbar is-dark" role="navigation">
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">Pad DB</a>
            <a class="navbar-item" href="/monsterdb/na">Monster Database</a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Legacy
                </a>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="/add/">
                        Add Dungeon
                    </a>
                    <a class="navbar-item" href="/all/dungeons">
                        All Dungeon Data
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

{% block content %}
    <section class="hero is-dark" style="margin-bottom: 25px">
        <div class="hero-body has-text-centered">
            <div class="container">
                <h1 class="title"> Calender </h1>
                <h2 class="subtitle"> Dungeons for {{ date }}</h2>
            </div>
        </div>
    </section>

    <div class="columns is-centered">

        <div class="column is-two-thirds">
            <table class="table is-fullwidth is-hoverable" id="myTable">
                <thead>
                <tr>
                    <th class="has-text-left">Dungeon</th>
                    <th class="has-text-right">Stamina Cost</th>
                    <th class="has-text-right">Battles</th>
                    <th class="has-text-right">Dungeon Type</th>
                </tr>
                </thead>

                <tbody>

                {% for dungeon in dungeons %}
                    <tr>
                        <td class="has-text-left"><a href="/dungeon/{{ dungeon.id }}"> {{ dungeon.altTitle }}
                            - {{ dungeon.altTitle2 }} </a></td>
                        <td class="has-text-right"> {{ dungeon.stamina }}</td>
                        <td class="has-text-right"> {{ dungeon.battles }}</td>
                        <td class="has-text-right"> {{ dungeon.dungeonType }}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>


    </div>

    <div align="center">
        <form method="POST">
            {% csrf_token %}

            <label class="label">Select a dungeon to add to the daily list.</label>
            <div class="field">
                <div class="select is-rounded">
                    {{ form.dungeon }}
                </div>
            </div>

            <input class="button is-info" type="submit" value="Submit"/>
        </form>
    </div>





{% endblock %}
</body>
</html>