<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pad Cal Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

</head>


<meta name="viewport" content="width=device-width, initial-scale=1">


<body class="has-navbar-fixed-top">

<nav class="navbar is-fixed-top is-black" role="navigation">
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">Pad Calender</a>
            <a class="navbar-item" href="/add/">Add Dungeon</a>
        </div>
    </div>
</nav>

<div align="center">
    {% block content %}


        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit"/>
        </form>

        <div style="margin-bottom: 25px;"> Dungeons for {{ date }}</div>


        {% for dungeon in dungeons %}
            <h2> {{ dungeon.altTitle }}</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Monster Name</th>
                    <th>HP</th>
                    <th>ATK</th>
                    <th>DEF</th>
                </tr>
                </thead>

                <tbody>

                {#                <div> {{ dungeon.jpnTitle }} </div>#}
                {% for monster in dungeon.monsters.all %}
                    {#                    <div> {{ monster }} : HP: {{ monster.hp }}, ATK: {{ monster.atk }}, DEF: {{ monster.defense }} </div>#}
                    <tr>
                        <td> {{ monster.name }}</td>
                        <td> {{ monster.hp }}</td>
                        <td> {{ monster.atk }}</td>
                        <td> {{ monster.defense }}</td>
                    </tr>
                {% endfor %}
                <div style="margin-bottom: 25px;"></div>
                </tbody>

            </table>
        {% endfor %}


    {% endblock %}
</div>

</body>
</html>