<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pad Cal Home</title>
    {##}
    {#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}
    {##}
    {##}
    {#    <!-- Compiled and minified CSS -->#}
    {#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">#}
    {##}
    {#    <!-- Compiled and minified JavaScript -->#}
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>#}


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>


    {% load static %}
    <link rel='stylesheet' href="{% static 'css/bulma-accordion.min.css' %}">
    <script type="text/javascript" src="{% static 'js/bulma-accordion.min.js' %}"></script>


</head>

<script type="text/javascript">
    $(function () {
        bulmaAccordion.attach('.accordions');
    });
</script>


<meta name="viewport" content="width=device-width, initial-scale=1">


<body class="has-navbar-fixed-top">

<nav class="navbar is-fixed-top is-black" role="navigation">
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">Pad Calender</a>
            <a class="navbar-item" href="/add/">Add Dungeon</a>
        </div>
    </div>
</nav>

<div align="center">
    {% block content %}


        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit"/>
        </form>

        <div style="margin-bottom: 25px;"> Dungeons for {{ date }}</div>



        {% for dungeon in dungeons %}
            <div> {{ dungeon.altTitle }}</div>
            <table class="table">
                <thead>
                <tr>
                    <th class="has-text-left">Monster Name</th>
                    <th class="has-text-right">HP</th>
                    <th class="has-text-right">ATK</th>
                    <th class="has-text-right">DEF</th>
                </tr>
                </thead>

                <tbody>

                {% for monster in dungeon.monsters.all %}
                    <tr>
                        <td class="has-text-left"> {{ monster.name }}</td>
                        <td class="has-text-right"> {{ monster.hp }}</td>
                        <td class="has-text-right"> {{ monster.atk }}</td>
                        <td class="has-text-right"> {{ monster.defense }}</td>
                    </tr>
                {% endfor %}
                <div style="margin-bottom: 25px;"></div>
                </tbody>

            </table>
        {% endfor %}




    {% endblock %}
</div>

</body>
</html>