{% extends 'home.html' %}

{% block content %}

    <section class="hero is-dark">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">{{ monster.name }}</h1>
                {% if ancestor is not None %}

                    <h2 class="subtitle">Evolution of <a
                            href="/monster/{{ ancestor.monster.cardID }}"
                            class="is-italic"> {{ ancestor.monster.name }}</a></h2>

                {% else %}

                    <h2 class="subtitle">No previous evolutions</h2>

                {% endif %}
                <h2 class="subtitle"></h2>
                {#                <h2 class="subtitle">Cost: {{ monster.cost }}, Rarity: {{ monster.rarity }}</h2>#}
            </div>

        </div>

    </section>

    <div class="columns is-5" style="margin: 2.5%">
        <div class="column is-one-quarter">

            <label class="label" style="text-align: center"> Monster Data </label>

            <table class="table is-fullwidth">
                <thead>
                <tr>
                    <th></th>
                    <th class="has-text-right">MIN</th>
                    <th class="has-text-right">MAX</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <th> LVL</th>
                    <td class="has-text-right"> 1</td>
                    <td class="has-text-right">{{ monster.maxLevel }}</td>
                </tr>
                <tr>
                    <th> HP</th>
                    <td class="has-text-right">{{ monster.minHP }}</td>
                    <td class="has-text-right">{{ monster.maxHP }}</td>
                </tr>
                <tr>
                    <th> ATK</th>
                    <td class="has-text-right">{{ monster.minATK }}</td>
                    <td class="has-text-right">{{ monster.maxATK }}</td>
                </tr>
                <tr>
                    <th> RCV</th>
                    <td class="has-text-right">{{ monster.minRCV }}</td>
                    <td class="has-text-right">{{ monster.maxRCV }}</td>
                </tr>
                <tr>
                    <th> XP</th>
                    <td class="has-text-right">1</td>
                    <td class="has-text-right">{{ monster.maxXP }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="column">

            <label class="label" style="text-align: center"> Leader Skill </label>

            <table class="table is-fullwidth">
                <tbody>
                <tr>
                    <th> Name</th>
                    <td>{{ leaderskill.name }}</td>
                </tr>
                <tr>
                    <th>Effect</th>
                    <td>{{ leaderskill.description }}</td>
                </tr>

                </tbody>


            </table>


        </div>
        <div class="column">

            <label class="label" style="text-align: center"> Active Skill </label>

            <table class="table is-fullwidth">
                <tbody>
                <tr>
                    <th> Name</th>
                    <td>{{ activeskill.name }}</td>
                </tr>
                <tr>
                    <th>Effect</th>
                    <td>{{ activeskill.description }}</td>
                </tr>
                <tr>
                    <th>Min Turns</th>
                    <td>{{ activeskill.minTurns }}</td>
                </tr>
                <tr>
                    <th>Max Turns</th>
                    <td>{{ activeskill.maxTurns }}</td>
                </tr>
                <tr>
                    <th>Levels</th>
                    <td>{{ activeskill.levels }}</td>
                </tr>

                </tbody>


            </table>


        </div>
    </div>



{% endblock %}