{% extends 'home.html' %}

{% block content %}

    <section class="hero is-dark">
        <div class="hero-head">
            <div class="container has-text-centered">
                {% block name %}
                    <h1 class="title is-italic">{{ monster.name }}</h1>
                {% endblock %}
                {% block img_link %}
                    <img src="https://storage.googleapis.com/mirubot/padimages/na/full/{{ monster.cardID }}.png">
                {% endblock %}
            </div>
        </div>
    </section>

    <form method="POST" name="form" class="post-form" enctype="multipart/form-data">

        {% csrf_token %}

        <div class="has-text-centered" style="margin-top: 20px">
            <label class="label">Monster Info</label>
        </div>

        <div class="columns is-centered is-5" style="margin: 2.5%">
            <div class="column"></div>
            <div class="column">
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                        {{ form.name }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Card ID</label>
                    <div class="control">
                        {{ form.cardID }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Rarity</label>
                    <div class="control">
                        {{ form.rarity }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Cost</label>
                    <div class="control">
                        {{ form.cost }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Maximum XP</label>
                    <div class="control">
                        {{ form.maxXP }}
                    </div>
                </div>

            </div>

            <div class="column">
                <div class="field">
                    <label class="label">Is Inheritable</label>
                    <div class="control">
                        {{ form.inheritable }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">Is Collab</label>
                    <div class="control">
                        {{ form.isCollab }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">Is Ult</label>
                    <div class="control">
                        {{ form.isUlt }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">Is Released</label>
                    <div class="control">
                        {{ form.isReleased }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">Max Lvl</label>
                    <div class="control">
                        {{ form.maxLevel }}
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="field">
                    <label class="label">Awakenings</label>
                    <div class="control">
                        {{ form.awakenings }}
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="label">Super Awakenings</label>
                    <div class="control">
                        {{ form.superAwakenings }}
                    </div>
                </div>
            </div>

            <div class="column"></div>
        </div>

        <div class="has-text-centered">
            <label class="label">Stats</label>
        </div>

        <div class="columns is-centered is-5" style="margin: 2.5%">
            <div class="column">

            </div>
            <div class="column">
                <div class="field">
                    <label class="label">Min HP</label>
                    <div class="control">
                        {{ form.minHP }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Max HP</label>
                    <div class="control">
                        {{ form.maxHP }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Max HP +297</label>
                    <div class="control">
                        {{ form.hp99 }}
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="field">
                    <label class="label">Min ATK</label>
                    <div class="control">
                        {{ form.minATK }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Max ATK</label>
                    <div class="control">
                        {{ form.maxATK }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Max ATK +297</label>
                    <div class="control">
                        {{ form.atk99 }}
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="field">
                    <label class="label">Min ATK</label>
                    <div class="control">
                        {{ form.minRCV }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Max ATK</label>
                    <div class="control">
                        {{ form.maxRCV }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Max ATK +297</label>
                    <div class="control">
                        {{ form.rcv99 }}
                    </div>
                </div>
            </div>

            <div class="column">

            </div>
        </div>

        <div align="center" style="margin-bottom: 2.5%">
            <button class="button is-link" name="submit" type="submit" value="submit">Submit</button>
        </div>


    </form>







{% endblock %}
