{% extends 'skill.html' %}

{% block skill_info %}
    <h1 class="title">
        <span>{{ activeskill.name }}</span> &nbsp;
        <span class="icon">
            <a href="/activeskill/na/edit/{{ activeskill.skillID }}">
                <i class="fas fa-edit"></i>
            </a>
        </span>
    </h1>
    <h2 class="subtitle"> {{ activeskill.description }}</h2>
{% endblock %}

{% block skill_table %}
    <table class="table is-fullwidth">
        <tbody>
        <tr>
            <th>Min Turns</th>
            <td>{{ activeskill.minTurns }}</td>
        </tr>
        <tr>
            <th>Max Turns</th>
            <td>{{ activeskill.maxTurns }}</td>
        </tr>
        <tr>
            <th>Levels</th>
            <td>{{ activeskill.levels }}</td>
        </tr>
        </tbody>
    </table>
    <table class="table is-fullwidth">
        <tbody>
        <tr>
            <th>HP</th>
            <td class="has-text-right">{{ amultipliers.0 }}x</td>
        </tr>
        <tr>
            <th>Attack</th>
            <td class="has-text-right">{{ amultipliers.1 }}x</td>
        </tr>
        <tr>
            <th>RCV</th>
            <td class="has-text-right">{{ amultipliers.2 }}x</td>
        </tr>
        <tr>
            <th>Shield</th>
            <td class="has-text-right">{{ amultipliers.3 }}%</td>
        </tr>
        </tbody>
    </table>
{% endblock %}

{% block monster_link %}
    <a href="/monster/na/{{ monster.cardID }}">{{ monster.name }}</a>
{% endblock %}


