{% extends 'skill.html' %}

{% block skill_info %}
    <h1 class="title">{{ leaderskill.name }}</h1>
    <h2 class="subtitle"> {{ leaderskill.description }}</h2>
{% endblock %}

{% block skill_table %}
    <table class="table is-fullwidth">
        <tbody>
        <tr>
            <th>Min Turns</th>
            <td>{{ leaderskill.minTurns }}</td>
        </tr>
        <tr>
            <th>Max Turns</th>
            <td>{{ leaderskill.maxTurns }}</td>
        </tr>
        <tr>
            <th>Levels</th>
            <td>{{ leaderskill.levels }}</td>
        </tr>
        </tbody>
    </table>
    <table class="table is-fullwidth">
        <thead>
        <tr>
            <th></th>
            <th class="has-text-right">Single</th>
            <th class="has-text-right">Pair</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>HP</th>
            <td class="has-text-right">{{ lmultipliers.0 }}x</td>
            <td class="has-text-right">{{ dmultipliers.0 }}x</td>
        </tr>
        <tr>
            <th>Attack</th>
            <td class="has-text-right">{{ lmultipliers.1 }}x</td>
            <td class="has-text-right">{{ dmultipliers.1 }}x</td>
        </tr>
        <tr>
            <th>RCV</th>
            <td class="has-text-right">{{ lmultipliers.2 }}x</td>
            <td class="has-text-right">{{ dmultipliers.2 }}x</td>
        </tr>
        <tr>
            <th>Shield</th>
            <td class="has-text-right">{{ lmultipliers.3 }}%</td>
            <td class="has-text-right">{{ dmultipliers.3 }}%</td>
        </tr>
        </tbody>
    </table>
{% endblock %}

{% block monster_link %}
    <a href="/monster/na/{{ monster.cardID }}">{{ monster.name }}</a>
{% endblock %}