{% extends 'home.html' %}

{% block content %}

    <section class="hero is-dark">
        <div class="hero-head">
            <div class="container has-text-centered">
                {% block name %}
                    <h1 class="title is-italic">{{ monster.name }}&nbsp;
                        <span class="icon">
                            <a href="/monster/na/edit/{{ monster.cardID }}">
                                <i class="fas fa-edit"></i>
                            </a>
                        </span>
                    </h1>
                {% endblock %}

                <div class="subtitle" style="margin-bottom: 0">
                    {{ types.0 }}

                    {% if types.1 %}
                        , {{ types.1 }}
                    {% endif %}
                    {% if types.2 %}
                        , {{ types.2 }}
                    {% endif %}
                </div>
                {% block img_link %}
                    <img src="https://storage.googleapis.com/mirubot/padimages/na/full/{{ monster.cardID }}.png">
                {% endblock %}
            </div>
        </div>
        <div class="hero-body">
            <div class="container">
                {% block evos %}
                    {% if ancestor is not None %}
                        <h2 class="subtitle">Evolution of <a
                                href="/monster/na/{{ ancestor.cardID }}"
                                class="is-italic"> {{ ancestor.name }}</a></h2>
                    {% endif %}
                    {% if evolutions is not None %}
                        {% for evo in evolutions %}
                            <h2 class="subtitle" style="margin-bottom: 0%">Evolves into
                                <a href="/monster/na/{{ evo.cardID }}"
                                   class="is-italic"> {{ evo.name }} </a>
                            </h2>
                        {% endfor %}
                    {% endif %}
                {% endblock %}
            </div>
        </div>

        <div class="hero-foot">
            <nav class="tabs is-boxed is-fullwidth">
                <div class="container">
                    <ul>
                        <li class="is-active" id="monstertab">
                            <a onclick="showMonsterData();">Monster Data</a>
                        </li>
                        <li id="leadertab">
                            <a onclick="showSkill();">Skills</a>
                        </li>
                        <li id="evotab">
                            <a onclick="showEvoData();">Evolution Information</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>

    <div class="columns is-centered is-5" style="margin: 2.5%">
        <div class="column is-half" id="monsterdata">
            <div class="columns">
                <div class="column">
                    <label class="label has-text-centered">Stats</label>
                    <table class="table is-fullwidth">
                        <thead>
                        <tr>
                            <th></th>
                            <th class="has-text-right">MIN</th>
                            <th class="has-text-right">MAX</th>
                            <th class="has-text-right">+297</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>HP</th>
                            <td class="has-text-right">{{ monster.minHP }}</td>
                            <td class="has-text-right">{{ monster.maxHP }}</td>
                            <td class="has-text-right">{{ monster.hp99 }}</td>
                        </tr>
                        <tr>
                            <th>ATK</th>
                            <td class="has-text-right">{{ monster.minATK }}</td>
                            <td class="has-text-right">{{ monster.maxATK }}</td>
                            <td class="has-text-right">{{ monster.atk99 }}</td>
                        </tr>
                        <tr>
                            <th>RCV</th>
                            <td class="has-text-right">{{ monster.minRCV }}</td>
                            <td class="has-text-right">{{ monster.maxRCV }}</td>
                            <td class="has-text-right">{{ monster.rcv99 }}</td>
                        </tr>
                        <tr>
                            <th>LVL</th>
                            <td class="has-text-right"> 1</td>
                            <td class="has-text-right">{{ monster.maxLevel }}</td>
                        </tr>
                        <tr>
                            <th>XP</th>
                            <td class="has-text-right">1</td>
                            <td class="has-text-right">{{ monster.maxXP }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="column">
                    <label class="label has-text-centered">Awakenings</label>
                    <table class="table is-fullwidth">
                        <tbody>
                        {% for awakening in awakenings %}
                            <tr>
                                <td class="has-text-centered">{{ awakening }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <label class="label has-text-centered">Other Information</label>
                    <table class="table is-fullwidth">
                        <tbody>
                        <tr>
                            <th>Cost</th>
                            <td class="has-text-right">{{ monster.cost }}</td>
                        </tr>
                        <tr>
                            <th>Rarity</th>
                            <td class="has-text-right">{{ monster.rarity }}</td>
                        </tr>
                        <tr>
                            <th>Inheritable</th>
                            <td class="has-text-right">{{ monster.inheritable }}</td>
                        </tr>
                        <tr>
                            <th>Is Collab</th>
                            <td class="has-text-right">{{ monster.isCollab }}</td>
                        </tr>
                        <tr>
                            <th>Is Ult</th>
                            <td class="has-text-right">{{ monster.isUlt }}</td>
                        </tr>
                        <tr>
                            <th>Is Released</th>
                            <td class="has-text-right">{{ monster.isReleased }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="column">
                    <label class="label has-text-centered">Super Awakenings</label>
                    <table class="table is-fullwidth">
                        <tbody>
                        {% for awakening in sawakenings %}
                            <tr>
                                <td class="has-text-centered">{{ awakening }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="column is-one-quarter" id="dungeondata">
            <label class="label has-text-centered"><em>{{ monster.name }}</em> drops from</label>

            {% if dungeons %}
                <table class="table is-fullwidth">
                    <tbody>
                    {% for dungeon in dungeons %}
                        <tr>
                            <td class="has-text-centered"><a
                                    href="/dungeons/na/{{ dungeon.dungeonID }}">{{ dungeon.name }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}

                <div class="has-text-centered">No dungeon information available.</div>

            {% endif %}

        </div>




        {% block skills %}

            <div class="column" id="leaderskill" style="display: none;">
                <label class="label has-text-centered">Leader Skill</label>
                {% if leaderskill is not None %}
                    <table class="table is-fullwidth">
                        <tbody>
                        <tr>
                            <th>Name</th>
                            <td><a href="/leaderskills/na/{{ leaderskill.skillID }}">{{ leaderskill.name }}</a></td>
                        </tr>
                        <tr>
                            <th>Effect</th>
                            <td>
                                <div style="font-size: smaller">{{ leaderskill.description }}</div>
                            </td>
                        </tr>
                        <tr>
                            <th>Min</th>
                            <td> N/A</td>
                        </tr>
                        <tr>
                            <th>Max</th>
                            <td> N/A</td>
                        </tr>
                        <tr>
                            <th>Levels</th>
                            <td> N/A</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table is-fullwidth">
                        <thead>
                        <tr>
                            <th></th>
                            <th class="has-text-right">Single</th>
                            <th class="has-text-right">Pair</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>HP</th>
                            <td class="has-text-right">{{ lmultipliers.0 }}x</td>
                            <td class="has-text-right">{{ dmultipliers.0 }}x</td>
                        </tr>
                        <tr>
                            <th>Attack</th>
                            <td class="has-text-right">{{ lmultipliers.1 }}x</td>
                            <td class="has-text-right">{{ dmultipliers.1 }}x</td>
                        </tr>
                        <tr>
                            <th>RCV</th>
                            <td class="has-text-right">{{ lmultipliers.2 }}x</td>
                            <td class="has-text-right">{{ dmultipliers.2 }}x</td>
                        </tr>
                        <tr>
                            <th>Shield</th>
                            <td class="has-text-right">{{ lmultipliers.3 }}%</td>
                            <td class="has-text-right">{{ dmultipliers.3 }}%</td>
                        </tr>
                        </tbody>
                    </table>
                {% else %}
                    <div class="has-text-centered">No Leader Skill available</div>
                {% endif %}
            </div>

            <div class="column" id="activeskill" style="display: none;">
                <label class="label has-text-centered">Active Skill</label>
                {% if activeskill is not None %}
                    <table class="table is-fullwidth">
                        <tbody>
                        <tr>
                            <th>Name</th>
                            <td><a href="/activeskills/na/{{ activeskill.skillID }}">{{ activeskill.name }}</a></td>
                        </tr>
                        <tr>
                            <th>Effect</th>
                            <td>
                                <div style="font-size: smaller">{{ activeskill.description }}</div>
                            </td>
                        </tr>
                        <tr>
                            <th>Min</th>
                            <td>{{ activeskill.minTurns }}</td>
                        </tr>
                        <tr>
                            <th>Max</th>
                            <td>{{ activeskill.maxTurns }}</td>
                        </tr>
                        <tr>
                            <th>Levels</th>
                            <td>{{ activeskill.levels }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table is-fullwidth">
                        <thead>
                        <tr>
                            <th></th>
                            <th class="has-text-right">Single</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>HP</th>
                            <td class="has-text-right">{{ amultipliers.0 }}x</td>
                        </tr>
                        <tr>
                            <th>Attack</th>
                            <td class="has-text-right">{{ amultipliers.1 }}x</td>
                        </tr>
                        <tr>
                            <th>RCV</th>
                            <td class="has-text-right">{{ amultipliers.2 }}x</td>
                        </tr>
                        <tr>
                            <th>Shield</th>
                            <td class="has-text-right">{{ amultipliers.3 }}%</td>
                        </tr>
                        </tbody>
                    </table>
                {% else %}
                    <div class="has-text-centered">No Active Skill available</div>
                {% endif %}
            </div>

        {% endblock %}

        {% block evo %}

            <div class="column" id="evomaterials" style="display: none;">
                <label class="label has-text-centered">Evolution Materials</label>
                {% if evomats|length > 0 %}
                    <table cellspacing="0" class="table is-fullwidth">
                        <thead>
                        <tr>
                            <th></th>
                            <th class="has-text-centered">Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for mat in evomats %}
                            <tr>
                                <td><a
                                        href="/monster/na/{{ mat.cardID }}"><img
                                        src="https://storage.googleapis.com/mirubot/padimages/na/portrait/{{ mat.cardID }}.png" height="75" width="75"></a>
                                </td>
                                <td class="has-text-centered"><a
                                        href="/monster/na/{{ mat.cardID }}"> {{ mat.name }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <label class="label has-text-centered" style="margin-top: 10%">No evolution materials
                        available.</label>
                {% endif %}
            </div>

            <div class="column" id="unevomaterials" style="display: none;">
                <label class="label has-text-centered">Devolution Materials</label>
                {% if unevomats|length > 0 %}
                    <table class="table is-fullwidth">
                        <thead>
                        <tr>
                            <th></th>
                            <th class="has-text-centered">Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for mat in unevomats %}
                            <tr>
                                <td><a
                                        href="/monster/na/{{ mat.cardID }}"><img
                                        src="https://storage.googleapis.com/mirubot/padimages/na/portrait/{{ mat.cardID }}.png" height="75" width="75"></a>
                                </td>
                                <td class="has-text-centered"><a
                                        href="/monster/na/{{ mat.cardID }}"> {{ mat.name }}</a>
                                </td>
                            </tr>

                        {% endfor %}
                    </table>

                {% else %}
                    <label class="label has-text-centered" style="margin-top: 10%">No devolution materials
                        available</label>
                {% endif %}
            </div>

        {% endblock %}
    </div>
{% endblock %}
